<!-- <button *ngIf="isVisible" class="view" (mouseenter) ="mouseEnter() "  (mouseleave) ="mouseLeave()">view my work<span><i class="fa fa-arrow-right demo" [ngClass]="{'hover':mouse}" ></i></span></button>
<button type="button" (click)="fetch()">Fetch</button>
<button *ngIf="isVisible" type="button" (click)="send()">send</button>

<table *ngIf="!isLoading && isVisible">
  <tr>
  <th>userId</th>
  <th>id</th>
  <th>title</th>
  <th>body</th>
  
  </tr>
  <tr *ngFor="let data of userArray">
    <td>{{data.userId}}</td>
    <td>{{data.id}}</td>
    <td>{{data.title}}</td>
    <td>{{data.body}}</td>

  </tr>
</table>
<h3 *ngIf="isLoading" >Loading.....</h3> -->
<app-check  ></app-check>
